body {
    background: url('../images/480875.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: .9;

}
.jumbotron-fluid {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    margin: 50px;
}

h2 {
    padding: 10px;
    margin-top: 20px;
}

form {
    padding: 10px;
}